<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parcbarcos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParcBarcos.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".admin_usuarios_editar"
            android:exported="false" />
        <activity
            android:name=".admin_usuarios_crud"
            android:exported="false" />
        <activity
            android:name=".admin_viajes_editar"
            android:exported="false" />
        <activity
            android:name=".patron_menu"
            android:exported="false" />
        <activity
            android:name=".socio_menu"
            android:exported="false" />
        <activity
            android:name=".registrarUsuarios"
            android:exported="false" />
        <activity
            android:name=".admin_viajes_crear"
            android:exported="false" />
        <activity
            android:name=".admin_viajes_crud"
            android:exported="false" />
        <activity
            android:name=".restablecerPass"
            android:exported="false" />
        <activity
            android:name=".admin_barcos_crud"
            android:exported="false" />
        <activity
            android:name=".admin_patrones_editar"
            android:exported="false" />
        <activity
            android:name=".admin_socios_editar"
            android:exported="false" />
        <activity
            android:name=".admin_patrones_agregar"
            android:exported="false" />
        <activity
            android:name=".admin_socios_agregar"
            android:exported="false" />
        <activity
            android:name=".admin_patrones_crud"
            android:exported="false" />
        <activity
            android:name=".admin_menu"
            android:exported="false" />
        <activity
            android:name=".admin_socios_crud"
            android:exported="false" />
        <activity
            android:name=".admin_socios"
            android:exported="false"
            android:label="@string/title_activity_admin_socios"
            android:theme="@style/Theme.ParcBarcos.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>